.leader-box {
  background-color: rgba(117, 190, 218, 0.5);
}

.leader-datatable {
  font-size: 0.8rem;
  width: 80vw;
  background-color: white;
}

.leader-datatable__col-sm {
  display: none;
}

.leader-datatable__col-md {
  display: none;
}

@media (min-width: 40rem) {
  .leader-datatable__col-sm {
    display: table-cell;
  }
}

@media (min-width: 60rem) {
  .leader-datatable__col-md {
    /* visibility: visible; */
    display: table-cell;
  }
}

.leader-datatable__form-fixer {
  font-size: 0.8rem;
  height: 1.5rem;
}

#leaders_length {
  display: none;
}

@media (min-width: 40rem) {
  #leaders_length {
    font-size: 0.8rem;
    display: block;
  }

  #leaders_length label {
    color: white !important;
  }
}

#leaders_paginate {
  font-size: 0.8rem;
  color: white !important;
}

#leaders_paginate a {
  font-size: 0.8rem;
}

#leaders_info {
  font-size: 0.8rem;
  color: white !important;
}

#leaders.dataTable {
  border-top: 0;
  border-bottom: 0;
}
