{% extends "scoresheet/base.html" %}
{% load i18n static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'scoresheet/css/modules/season.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'scoresheet/css/modules/competition.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'scoresheet/css/modules/event.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'scoresheet/css/modules/search.css' %}">
{% endblock %}

{% block content %}
<div class="col-md-12 competition-box">
  <div class="season">
      {% include "scoresheet/season/_season_select.html" with current_season=season.id season_url_value=season_url_value %}
      {{ scoresheet.check_season }}
  </div>
  <div class="main-menu">
      <h3 class="main-menu__item">Recherche</h3>
  </div>
    <div class="form-row search-box pb-2">
       <div class="col">
          <label for="input-search-concurrent">
              <strong>Athlète</strong>
          </label>
          <input type="search" 
                 id="input-search-concurrent"
                 class="form-control" 
                 name="motif"
                 placeholder="Recherche par prénom, nom ou licence"
                 autocomplete="off"
                 hx-on:keyup="this.value.length<=0 && $('#concurrent-search-table').empty()"
                 hx-post="{% url 'scoresheet:concurrent_get_by_name' %}"
                 hx-trigger="keyup[target.value.length > 1] delay:500ms"
                 hx-target="#concurrent-search-table" />
          <div id="concurrent-search-table"></div>
       </div>
          {% if user_agent == "tablet" %}
             <div class="col">
                <label for="input-search-club">
                    <strong>Club</strong>
                </label>
                <input type="search" 
                       id="input-search-club"
                       class="form-control" 
                       name="motif"
                       placeholder="Recherche par nom"
                       autocomplete="off"
                       hx-on:keyup="this.value.length==0 && $('#club-search-table').empty()"
                       hx-post="{% url 'scoresheet:club_get_by_name' %}"
                       hx-trigger="keyup[target.value.length > 1] delay:500ms"
                       hx-target="#club-search-table" />
                <div id="club-search-table"></div>
              </div>
            <div class="col">
               <label for="input-search-league">
                   <strong>Ligue</strong>
               </label>
               <input type="search" 
                      id="input-search-league"
                      class="form-control" 
                      name="motif"
                      placeholder="Recherche par nom"
                      autocomplete="off"
                      hx-on:keyup="this.value.length==0 && $('#league-search-table').empty()"
                      hx-post="{% url 'scoresheet:league_get_by_name' %}"
                      hx-trigger="keyup[target.value.length > 1] delay:500ms"
                      hx-target="#league-search-table" />
               <div id="league-search-table"></div>
            </div> 
          {% endif %}
      </div>
  </form>
</div>
{% if concurrent or club or league %}
<div class="row">
    <div class="col-md-12 event-box">
        <span style="color: white">
            {% if concurrent %}
                <h3>{{ concurrent.firstname }}&nbsp;{{ concurrent.lastname }}</h3>
                {{ concurrent.date_of_birth|date:"d/m/Y" }}
            {% endif %}
            {% if club %}
                <h3>{{ club }}</h3>
            {% endif %}
            {% if league %}
                <h3>{{ league }}</h3>
            {% endif %}
        </span>
        <br>
        <table id="competitionSet" class="table table-condensed table-sm table-bordered table-hover event-datatable">
            <thead class="thead-dark">
                <tr>
                    {% if user_agent == "tablet" %}
                        <th class="event-datatable__col-sm">Licence</th>
                    {% endif %}
                    <th>Nom</th>
                    <th>Competition</th>
                    {% if user_agent == "tablet" %}
                        <th>P.C.</th>
                    {% endif %}
                    {% if user_agent == "tablet" %}
                        <th style="text-align: center;">ARR</th>
                        <th style="text-align: center;">EP-J</th>
                    {% endif %}
                    <th style="text-align: center;">TOTAL</th>
                    {% if user_agent == "tablet" %}
                        <th style="text-align: center;">S&eacute;rie</th>
                    {% endif %}
                    {% if user_agent == "tablet" %}
                        <th style="text-align: center;">Cat&eacute;gorie</th>
                    {% endif %}
                </tr>
            </thead>
            {% for event in event_list %}
                {% include "../event/_mobile_event_searched_datatable.html" with event=event has_begin=True has_ended=True %}
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script>
        $("input:radio[name=currentSeason]").change(function() {
            value = $("input:radio[name=currentSeason]:checked").val();
            location.href = value;
        });
        var table = $('#competitionSet').DataTable({
            dom: 'Bplrti',
            order: [[1, 'asc']],
            aLengthMenu: [[10, 20, 40, -1], [10, 20, 40, "All"]],
            iDisplayLength: 10,
            language: {
                paginate: {
                    previous: "&lt;",
                    next: "&gt;"
                }
            }
        });

        thClone = $('#competitionSet thead tr').clone().appendTo('#competitionSet thead')
        $('#competitionSet thead tr:eq(1) th').each(function(i) {
              $(this).html('<div class="input-group mb-1"><input id="col-input-' + i + '" type="text" class="form-control ps-1 pe-1" /></div>')
              $('input', this).on('keyup change', function() {
                  if (table.column(i).search() !== this.value) {
                      table
                          .column(i)
                          .search(this.value, true, false)
                          .draw()
                  }
              })
        })
        thClone.find('th').attr('data-dt-order', 'disable')
        thClone.find('th').attr('class', '')

        var globalTimeout = null;
    </script>
{% endblock %}
