{% load i18n static %}

<tr>
    <td>
        {{ forloop.counter }}
    </td>
    <td>
        {{ event.concurrent.licence }}
    </td>
    <td>
        {{ event.concurrent.lastname.upper }}&nbsp;{{ event.concurrent.firstname.capitalize }}
    </td>
    <td class="event-datatable__col-md">
        {{ event.concurrent.date_of_birth|date:"Y" }}
    </td>
    <td class="event-datatable__col-md">
        {{ event.clubName }}<br />
        <font size="-3">{{ event.concurrent.clubReg }}</font>
    </td>
    <td class="event-datatable__col-md">
        {{ event.concurrent.country }}
    </td>
    <td>
        {{ event.weight }}
    </td>

    {% for attempt in event.getARRAttemptSet %}
        <td class="event-datatable__col-md" style="text-align: center;">
            <div class="attempt_{{ attempt.validate }}">
                <strong>{%if attempt.validate == 2%}-{%endif%}{{ attempt.value }}</strong>
            </div>
        </td>
    {% endfor %}
    <td style="text-align: center;">
        <strong>{{ event.totalSet.0 }}</strong>
    </td>
    {% for attempt in event.getEPJAttemptSet %}
        <td class="event-datatable__col-md" style="text-align: center;">
            <div class="attempt_{{ attempt.validate }}">
                <strong>{%if attempt.validate == 2%}-{%endif%}{{ attempt.value }}</strong>
            </div>
        </td>
    {% endfor %}

    <td style="text-align: center;">
        <strong>{{ event.totalSet.1 }}</strong>
    </td>
    <td style="width: 50px; text-align:center;">
        <strong>{{ event.total }}</strong>
    </td>
    <td class="event-datatable__col-sm" style="text-align: center;">
        {% if event.minimumweightcategory.name and not competition.isminime %}
            {{ event.minimumweightcategory.name }}
        {% else %}
            N.C.
        {% endif %}
    </td>
    <td class="event-datatable__col-sm" nowrap style="text-align: center;">
        {% if event.competition.ismasters %}
            {{ event.agecategory }} {{ event.categorie }}&nbsp;{{ event.weightcategory.weight }}
        {% else %}
            {% if 'W' in event.agecategory.name or 'M' in event.agecategory.name %}
                {{ event.agecategory.name }} {{ event.categorie }}&nbsp;{{ event.weightcategory.weight }}
            {% else %}
                {{ event.agecategory.name | slice:"3" }} {{ event.categorie }}&nbsp;{{ event.weightcategory.weight }}
            {% endif %}
        {% endif %}
    </td>
    <td class="event-datatable__col-md" style="text-align: center;">
        {{ event.iwf|floatformat:2 }}
    </td>
</tr>