{% extends "scoresheet/base.html" %}
{% load i18n static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'scoresheet/css/modules/season.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'scoresheet/css/modules/agecategory.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 agecategory-box">
        <div class="season">
            {% if request.user.is_superuser %}
                {% include "scoresheet/season/_season_select.html" with current_season=season.id season_url_value=season_url_value %}
            {% else %}
                <strong>{{ season.name }}</strong>
            {% endif %}
            {{ scoresheet.check_season }}
        </div>
        <strong>Masculin</strong>
        <table class="table table-condensed table-sm table-bordered table-hover agecategory-datatable">
            <tbody>
                {% for agecategory in m_agecategory_list %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <th style="padding: 8px; background: #79aec8;">
                            {% if perms.scoresheet.change_agecategory %}
                                <a href="{% url 'admin:api_agecategory_change' agecategory.id %}?next={% url 'scoresheet:agecategory_view' season.id %}" 
                                    style="color: white">
                                    {{ agecategory.name }}
                                </a>
                            {% else %}
                                <font style="color: white">{{ agecategory.name }}</font>
                            {% endif %}
                        </th>
                        <td>
                            {{ agecategory.surname }}
                        </td>
                        <td>
                            De {{ agecategory.agemin }} à {{ agecategory.agemax }}
                        </td>
                        <td>
                            n&eacute; entre {{ time|add:agecategory.agemax }}- et {{ time|add:agecategory.agemin }}-
                        <td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <strong>F&eacute;minin</strong>
        <table class="table table-condensed table-sm table-bordered table-hover agecategory-datatable">
        <tbody>
            {% for agecategory in f_agecategory_list %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <th style="padding: 8px; background: #79aec8;">
                        {% if perms.scoresheet.change_agecategory %}
                            <a href="{% url 'admin:api_agecategory_change' agecategory.id %}?next={% url 'scoresheet:agecategory_view' season.id %}" 
                                style="color: white">
                                {{ agecategory.name }}
                            </a>
                        {% else %}
                            <font style="color: white">{{ agecategory.name }}</font>
                        {% endif %}
                    </th>
                    <td>
                        {{ agecategory.surname }}
                    </td>
                    <td>
                        De {{ agecategory.agemin }} à {{ agecategory.agemax }}
                    </td>
                    <td>
                        n&eacute;e entre {{ time|add:agecategory.agemax }}- et {{ time|add:agecategory.agemin }}-
                    <td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}

    <script  src="{% static 'scoresheet/js/competition.js' %}"></script>

{% endblock %}
